extends layout

block content
  .container.mt-4(style='padding-top: 70px;')
    h1 About Game Portal
    p Game Portal is an online platform where users can discover and explore various games tailored for different preferences and genres.
    p Our mission is to provide a user-friendly experience and a diverse selection of games to enhance your gaming experience.
    p Whether you are a casual gamer or a hardcore enthusiast, Game Portal has something for everyone!
    footer
      .row
        .col-12
          
